<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>haphazard aimless arbitrary desultory (断断续续的) erratic scattered stray</string>
				<key>key</key>
				<string>随机的</string>
			</dict>
		</array>
		<key>key</key>
		<string>随机的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>archaic dated obsoleted antiquated fossilized medieval moribund moth-eaten outworn prehistoric</string>
				<key>key</key>
				<string>过时的</string>
			</dict>
		</array>
		<key>key</key>
		<string>过时的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>disinterested equal evenhanded impartial just nonpartisan dispassionate objective square unbiased unprejudiced</string>
				<key>key</key>
				<string>公正的</string>
			</dict>
		</array>
		<key>key</key>
		<string>公正的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>abhorred abominated despised detested distained execrated loathed</string>
				<key>key</key>
				<string>憎恶的</string>
			</dict>
		</array>
		<key>key</key>
		<string>憎恶的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>paradoxical ambivalent contradictory belie counter dichotomy(dichotomous) incongruity contravene apophasis 通过不说而说 oxymoron 通过矛盾构成对立 antithetical 对立的</string>
				<key>key</key>
				<string>矛盾的</string>
			</dict>
		</array>
		<key>key</key>
		<string>矛盾的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>contemplate cogitate deliberate 仔细 考虑 meditate pore resolve ruminate weigh</string>
				<key>key</key>
				<string>思考</string>
			</dict>
		</array>
		<key>key</key>
		<string>思考</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>debunk belie confound confute discredit falsify rebut refute</string>
				<key>key</key>
				<string>证明为假</string>
			</dict>
		</array>
		<key>key</key>
		<string>证明为假</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>steadfast resolute constant adamant pertinacious</string>
				<key>key</key>
				<string>坚定的</string>
			</dict>
		</array>
		<key>key</key>
		<string>坚定的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>conservative hidebound reactionary die-hard</string>
				<key>key</key>
				<string>保守的</string>
			</dict>
		</array>
		<key>key</key>
		<string>保守的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>superfluous excessive extra redundant surplus plethora</string>
				<key>key</key>
				<string>多余的</string>
			</dict>
		</array>
		<key>key</key>
		<string>多余的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>predisposition proposition 建议 disposition leaning propensity tilt list tendency inclination proclivity(acclivity 上坡 declivity 下坡) bent liability predilection penchant (trenchant 尖锐的 enchant 被迷惑) orientation affinity slant</string>
				<key>key</key>
				<string>倾向 趋势</string>
			</dict>
		</array>
		<key>key</key>
		<string>倾向 趋势</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>pedestrian dreary jejune monotonous tedious wearisome jaded bland humdrum stale stodgy insipid vapid prosaic mediocre undistinguished banal trite bromide cliche hackneyed timeworn threadbare platitude stereotype</string>
				<key>key</key>
				<string>土的 平凡的</string>
			</dict>
		</array>
		<key>key</key>
		<string>土的 平凡的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>offhand impromptu extemporary extemporaneous improvised unrehearsed</string>
				<key>key</key>
				<string>即兴的</string>
			</dict>
		</array>
		<key>key</key>
		<string>即兴的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>accordant concordant consensus assent unanimity unison</string>
				<key>key</key>
				<string>一致的</string>
			</dict>
		</array>
		<key>key</key>
		<string>一致的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>preclude exclude avert deter(defer 遵从;推迟) forestall obviate</string>
				<key>key</key>
				<string>阻止 避免</string>
			</dict>
		</array>
		<key>key</key>
		<string>阻止 避免</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>volatile (versatile 通用的) capricious whimsical fickle inconstant mercurial erratic labile protean metamorphous caprice vagary vagrancy whimsy upheaval 剧变</string>
				<key>key</key>
				<string>善变的 不稳定的</string>
			</dict>
		</array>
		<key>key</key>
		<string>善变的 不稳定的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>inflatable 膨胀的 impassioned 慷慨激昂的 invaluable 无价的</string>
				<key>key</key>
				<string>in-不一定反义</string>
			</dict>
		</array>
		<key>key</key>
		<string>in-不一定反义</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>perspective angle outlook slant standpoint</string>
				<key>key</key>
				<string>视角</string>
			</dict>
		</array>
		<key>key</key>
		<string>视角</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>depose 作证 dispose 趋势 decompose 分解 discompose 使不安 declaim 声称 disclaim 否定</string>
				<key>key</key>
				<string>de vs dis</string>
			</dict>
		</array>
		<key>key</key>
		<string>de vs dis</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>biased inequitable prejudiced nonobjective one-sided partial partisan unjust jaundiced bigot 有偏见的人</string>
				<key>key</key>
				<string>有偏见的</string>
			</dict>
		</array>
		<key>key</key>
		<string>有偏见的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>fastidious demanding exacting finical fussy persnickety picky meticulous painstaking punctilious scrupulou</string>
				<key>key</key>
				<string>苛求的</string>
			</dict>
		</array>
		<key>key</key>
		<string>苛求的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>arduous burdensome grueling exacting laborious onerous taxing toilsome</string>
				<key>key</key>
				<string>费力的</string>
			</dict>
		</array>
		<key>key</key>
		<string>费力的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>reverence deference deferential(deferrable 可推迟的) venerate</string>
				<key>key</key>
				<string>尊敬的</string>
			</dict>
		</array>
		<key>key</key>
		<string>尊敬的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>contradict disprove gainsay rebut refute</string>
				<key>key</key>
				<string>反驳</string>
			</dict>
		</array>
		<key>key</key>
		<string>反驳</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>overshadow eclipse outrank outshine outstrip overbalance overweigh obscure</string>
				<key>key</key>
				<string>掩盖 使..不重要</string>
			</dict>
		</array>
		<key>key</key>
		<string>掩盖 使..不重要</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>expedite 加速 expedient 有利的 impede 削弱 centipede 百足虫 quadruped 四脚的 peddle 叫卖 pedestal 基座 pediatrician 小孩 pedagogy 教育 pedant 学究 encyclopedia 百科全书</string>
				<key>key</key>
				<string>ped- 脚</string>
			</dict>
		</array>
		<key>key</key>
		<string>ped- 脚</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>automatic impulsive instinctive involuntary spontaneous</string>
				<key>key</key>
				<string>本能的</string>
			</dict>
		</array>
		<key>key</key>
		<string>本能的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>maxim aphorism epigram adage proverb dictum</string>
				<key>key</key>
				<string>格言警句</string>
			</dict>
		</array>
		<key>key</key>
		<string>格言警句</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>pompous presumptuous assuming vainglorious arrogant(interrogate 审问) haughty hauteur supercilious
                overbearing imperious 专横的 (impervious 不能渗透的) pontifical bumptious</string>
				<key>key</key>
				<string>傲慢的</string>
			</dict>
		</array>
		<key>key</key>
		<string>傲慢的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>ingenious(ingenuous 天真的) innovative renovate inventive</string>
				<key>key</key>
				<string>创新的</string>
			</dict>
		</array>
		<key>key</key>
		<string>创新的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>turmoil agitation turbulence ferment clamor disorder tumult commotion havoc willy-nilly topsy-turvy hubbub (带连字符的类似生词考虑混乱)</string>
				<key>key</key>
				<string>混乱</string>
			</dict>
		</array>
		<key>key</key>
		<string>混乱</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>elocution 演说术 interlocution 对话 circumlocution 绕圈 obloquy 摘要</string>
				<key>key</key>
				<string>-locution</string>
			</dict>
		</array>
		<key>key</key>
		<string>-locution</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>attain capture reap harvest garner procure</string>
				<key>key</key>
				<string>获得</string>
			</dict>
		</array>
		<key>key</key>
		<string>获得</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>outset onset commencement genesis inception</string>
				<key>key</key>
				<string>开始</string>
			</dict>
		</array>
		<key>key</key>
		<string>开始</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>mimic mock mime emulate simulate impersonate(personage 名人=celebrity personable=attractive impersonal=objective) imitate parrot</string>
				<key>key</key>
				<string>模仿</string>
			</dict>
		</array>
		<key>key</key>
		<string>模仿</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>incumbent 在职的 procumbent 俯卧 的 recumbent 躺 succumb to 臣服</string>
				<key>key</key>
				<string>-cumbent</string>
			</dict>
		</array>
		<key>key</key>
		<string>-cumbent</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>harbinger foregoer augur herald portend precursor prophetic prognosticate prophesy</string>
				<key>key</key>
				<string>预示</string>
			</dict>
		</array>
		<key>key</key>
		<string>预示</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>verify attest authenticate certify corroborate substantiate testify validate vindicate</string>
				<key>key</key>
				<string>证实</string>
			</dict>
		</array>
		<key>key</key>
		<string>证实</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>eschew dodge elude evade shirk shun circumvent bypass sidestep skirt weasel</string>
				<key>key</key>
				<string>避免 绕开</string>
			</dict>
		</array>
		<key>key</key>
		<string>避免 绕开</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>intransigent stubborn obstinate headstrong refractory recalcitrant contumacious unmanageable unyielding unbending pertinacious tenacious intractable obdurate willful dogged mulish ossified</string>
				<key>key</key>
				<string>顽固的不妥协的</string>
			</dict>
		</array>
		<key>key</key>
		<string>顽固的不妥协的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>speculate assume conjecture presume suppose surmise</string>
				<key>key</key>
				<string>推测</string>
			</dict>
		</array>
		<key>key</key>
		<string>推测</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>connive conspire(expire 到期) contrive intrigue machinate plot put up</string>
				<key>key</key>
				<string>串通</string>
			</dict>
		</array>
		<key>key</key>
		<string>串通</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>absorbing arresting involving
                intriguing gripping engrossing engaging riveting mesmerizing agog snappy</string>
				<key>key</key>
				<string>吸引人的</string>
			</dict>
		</array>
		<key>key</key>
		<string>吸引人的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>preclude 序曲 preclude allude 间接提 到(=intimate) elude 避免 interlude 间 歇 seclude 隐退(=sequester secede 退 出) occlude 关闭 exclude</string>
				<key>key</key>
				<string>-lude</string>
			</dict>
		</array>
		<key>key</key>
		<string>-lude</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>hermit recluse withdraw sequester seclude aloof solitude</string>
				<key>key</key>
				<string>隐居的</string>
			</dict>
		</array>
		<key>key</key>
		<string>隐居的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>gregarious (segregate 隔离) congregate aggregate(egregious 惊人的)</string>
				<key>key</key>
				<string>群体的</string>
			</dict>
		</array>
		<key>key</key>
		<string>群体的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>eminent celebrated distinguished famed notable prominent renowned illustrious distinct</string>
				<key>key</key>
				<string>成功的</string>
			</dict>
		</array>
		<key>key</key>
		<string>成功的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>convoluted knotty involved sophisticated twisted tangled labyrinthine byzantine thorny</string>
				<key>key</key>
				<string>复杂的</string>
			</dict>
		</array>
		<key>key</key>
		<string>复杂的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>aversion repugnance(impugn 指责) antipathy</string>
				<key>key</key>
				<string>憎恨</string>
			</dict>
		</array>
		<key>key</key>
		<string>憎恨</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>brook abide endure stomach</string>
				<key>key</key>
				<string>忍受</string>
			</dict>
		</array>
		<key>key</key>
		<string>忍受</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>impugn reprehend reprobate chide rebuke reprimand reproach reprove censure admonish berate deplore execrate 诅咒怒骂</string>
				<key>key</key>
				<string>责备</string>
			</dict>
		</array>
		<key>key</key>
		<string>责备</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>catastrophe(apocalypse 启示) calamity cataclysm debacle fiasco</string>
				<key>key</key>
				<string>灾难</string>
			</dict>
		</array>
		<key>key</key>
		<string>灾难</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>encomium eulogy panegyric tribute commend approbate acclaim applaud compliment extol</string>
				<key>key</key>
				<string>赞颂</string>
			</dict>
			<dict>
				<key>content</key>
				<string>diatribe jeremiad philippic rant censorious 挑剔的 tirade harangue 长篇演说</string>
				<key>key</key>
				<string>抨击反驳</string>
			</dict>
		</array>
		<key>key</key>
		<string>抨击反驳 vs 赞颂</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>soothe defuse mollify (mollusk 软体动物 emollient 柔软的) conciliate propitiate appease pacify placate placid calm settle subdue solace placebo 安慰剂</string>
				<key>key</key>
				<string>平息</string>
			</dict>
			<dict>
				<key>content</key>
				<string>agitate gall inflame nettle provoke peeve pique irritate rile roil antagonize piquant 刺激的</string>
				<key>key</key>
				<string>激怒的</string>
			</dict>
		</array>
		<key>key</key>
		<string>平息 vs 激怒的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>counterproductive feckless hamstrung(hamstring v.) ineffective ineffectual inefficacious inefficient inexpedient</string>
				<key>key</key>
				<string>无效的没用的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>effective effectual efficacious efficient expedient(应急的) telling</string>
				<key>key</key>
				<string>有效的</string>
			</dict>
		</array>
		<key>key</key>
		<string>没用的 vs 有效的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>perceptible appreciable apprehensible detectable discernible distinguishable palpable(palatable 好吃的) sensible</string>
				<key>key</key>
				<string>可感知的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>上面的词+in/im/un</string>
				<key>key</key>
				<string>不可感知的</string>
			</dict>
		</array>
		<key>key</key>
		<string>可感知的 vs 不可感知的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>calculated deliberate intended planned premeditated (meditate 策划,发呆 mediate=reconcile=intermediate 调解)</string>
				<key>key</key>
				<string>故意的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>fortuitous incidental unintended unintentional unpremeditated unwitting backfire</string>
				<key>key</key>
				<string>偶然的</string>
			</dict>
		</array>
		<key>key</key>
		<string>故意的 vs 偶然的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>accede endorse acquiesce consent(dissent 不同意) subscribe concur (demur 反对)</string>
				<key>key</key>
				<string>同意</string>
			</dict>
			<dict>
				<key>content</key>
				<string>bolster brace buttress sustain undergird underpin fortify uphold prop up shore up (削弱: undercut/undermine)</string>
				<key>key</key>
				<string>支持</string>
			</dict>
		</array>
		<key>key</key>
		<string>支持 vs 同意</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>diminish abate dwindle lessen lower decline</string>
				<key>key</key>
				<string>减少</string>
			</dict>
			<dict>
				<key>content</key>
				<string>aggrandize amplify augment boost enlarge escalate expand balloon wax(wax and wane) bulge burgeon accelerate accumulate boom mount multiply mushroom proliferate snowball wax flourish prosper</string>
				<key>key</key>
				<string>增加</string>
			</dict>
		</array>
		<key>key</key>
		<string>减少 vs 增加</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>disregard apathy disinterestedness nonchalant torpor(torpid) unconcern indifferent half-hearted apathetic incurious insouciant nonchalant perfunctory unconcerned callous phlegmatic frigid</string>
				<key>key</key>
				<string>不感兴趣的 冷漠的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>enthusiastic ebullient boiling exuberant effervescent vivacious effusive</string>
				<key>key</key>
				<string>热情的</string>
			</dict>
		</array>
		<key>key</key>
		<string>热情的 vs 冷漠的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>glee cheerful jovial jocund sanguine lighthearted rejoiced convivial</string>
				<key>key</key>
				<string>高兴的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>glum gloomy melancholy dejected morose saturnine sullen hangdog lachrymose</string>
				<key>key</key>
				<string>不高兴的</string>
			</dict>
		</array>
		<key>key</key>
		<string>不高兴的 vs 高兴的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>imposter quack charlatan mountebank 万能药: panacea cure-all elixir nostrum</string>
				<key>key</key>
				<string>骗子</string>
			</dict>
			<dict>
				<key>content</key>
				<string>spurious apocryphal bogus counterfeit fake forged phony feigned sham hypocritical(hypercritical 吹毛求疵的)</string>
				<key>key</key>
				<string>假的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>unfeigned authentic bona fide verity genuine</string>
				<key>key</key>
				<string>真的</string>
			</dict>
		</array>
		<key>key</key>
		<string>假的 vs 骗子 vs 真的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>shrug disregard ignore neglect slight heedless inattentive
                    snub (snob 势利的 snug 舒适的 smug 自鸣得意的)</string>
				<key>key</key>
				<string>不理会</string>
			</dict>
			<dict>
				<key>content</key>
				<string>attend heed mind advert</string>
				<key>key</key>
				<string>理会 关注</string>
			</dict>
		</array>
		<key>key</key>
		<string>不理会 vs 理会</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>lavish luxurious plush(blush 脸红 flush 大量的) sumptuous pompous baroque affected bombastic flowery grandiloquent</string>
				<key>key</key>
				<string>奢华的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>austere plain spartan stark unadorned spare</string>
				<key>key</key>
				<string>简朴的</string>
			</dict>
		</array>
		<key>key</key>
		<string>简朴的 vs 奢华的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>criminate incriminate inculpate</string>
				<key>key</key>
				<string>使有罪</string>
			</dict>
			<dict>
				<key>content</key>
				<string>absolve acquit exonerate vindicate exculpate</string>
				<key>key</key>
				<string>使无罪</string>
			</dict>
		</array>
		<key>key</key>
		<string>使无罪 vs 使有罪</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>temporal carnal 肉体的 earthborn
                    earthbound fleshly material secular mundane sublunary terrestrial worldly heavenly</string>
				<key>key</key>
				<string>尘世的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>tawdry garish gaudy flamboyant meretricious flashy flaring</string>
				<key>key</key>
				<string>艳俗的</string>
			</dict>
		</array>
		<key>key</key>
		<string>尘世的 vs 艳俗的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>collected composed recollected undisturbed unperturbed unruffled tranquil unflappable sedate halcyon</string>
				<key>key</key>
				<string>平静的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>possessed agitated discomposed disturbed flustered perturbed tumultuous</string>
				<key>key</key>
				<string>易激动的</string>
			</dict>
		</array>
		<key>key</key>
		<string>易激动的 vs 平静的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>circuitous circumlocutory diffuse prolix rambling verbose windy wordy garrulous loquacious glib expansive voluble</string>
				<key>key</key>
				<string>啰嗦的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>laconic reserved reticent curt pithy succinct terse compendious(compendium 摘要 =synopsis)</string>
				<key>key</key>
				<string>话少的 沉默的 简洁的</string>
			</dict>
		</array>
		<key>key</key>
		<string>话少的 vs 啰嗦的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>relentless inexorable ironfisted merciless ruthless unrelenting unsparing</string>
				<key>key</key>
				<string>无情的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>relenting charitable clement merciful lenient</string>
				<key>key</key>
				<string>仁慈的</string>
			</dict>
		</array>
		<key>key</key>
		<string>无情的 vs 仁慈的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>unproductive infertile barren sterile impoverished deleted drain exhausted(exhaustive 详尽的) enervate(衰弱的)</string>
				<key>key</key>
				<string>贫困的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>fecund productive prolific fertile</string>
				<key>key</key>
				<string>肥沃的</string>
			</dict>
		</array>
		<key>key</key>
		<string>肥沃的 vs 贫困的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>stingy miserly tightfisted closefisted parsimonious penurious miser niggard sluggard skinflint(吝啬鬼) hoard skimp</string>
				<key>key</key>
				<string>吝啬的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>sparing economical provident thrift husband stinging</string>
				<key>key</key>
				<string>节俭</string>
			</dict>
		</array>
		<key>key</key>
		<string>节俭 vs 吝啬的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>untenable assailable controversial refutable</string>
				<key>key</key>
				<string>有争议的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>unassailable undeniable irrefutable indisputable unexceptionable (exceptionable=objectionable 惹人反感的)</string>
				<key>key</key>
				<string>无争议的</string>
			</dict>
		</array>
		<key>key</key>
		<string>有争议的 vs 无争议的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>nostalgia reminiscence</string>
				<key>key</key>
				<string>记起</string>
			</dict>
			<dict>
				<key>content</key>
				<string>oblivion</string>
				<key>key</key>
				<string>遗忘</string>
			</dict>
		</array>
		<key>key</key>
		<string>遗忘 vs 记起</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>worsen aggravate exasperate exacerbate deteriorate exorbitant 过度的</string>
				<key>key</key>
				<string>加重</string>
			</dict>
			<dict>
				<key>content</key>
				<string>assuage moderate allay alleviate mitigate palliate temper</string>
				<key>key</key>
				<string>减轻</string>
			</dict>
		</array>
		<key>key</key>
		<string>减轻 vs 加重</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>sumptuous extravagant lavish prodigal squandering dissolute profligate prodigal spendthrift dissipate improvident</string>
				<key>key</key>
				<string>挥霍的浪费的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>generous liberal munificent openhanded</string>
				<key>key</key>
				<string>大方的</string>
			</dict>
		</array>
		<key>key</key>
		<string>大方的 vs 挥霍的浪费的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>enduring eternal everlasting immortal permanent perpetual abiding</string>
				<key>key</key>
				<string>持久的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>transient ephemeral evanescent fleeting meteoric temporary</string>
				<key>key</key>
				<string>短暂的</string>
			</dict>
		</array>
		<key>key</key>
		<string>短暂的 vs 持久的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>rife abounding abundant awash flush fraught(担心的,大量的) replete swarming teeming thronging cornucopia myriad copious untold</string>
				<key>key</key>
				<string>大量的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>modicum deficient inadequate insufficient scanty scare sparse skimpy dearth pittance paucity shred</string>
				<key>key</key>
				<string>少量的</string>
			</dict>
		</array>
		<key>key</key>
		<string>大量的 vs 少量的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>trivial insubstantial negligible nominal trifling; extraneous impertinent inapplicable irrelative immaterial peripheral tangent inconsequential trivial trifling</string>
				<key>key</key>
				<string>不重要的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>consequential momentous weighty pivotal cardinal paramount tantamount(相等的); central to applicable apposite apropos germane pertinent relative relevant</string>
				<key>key</key>
				<string>重要的</string>
			</dict>
		</array>
		<key>key</key>
		<string>不重要的 vs 重要的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>transparent translucent pellucid lucid elucidate comprehend understand intelligible accessible luminous illuminate enlighten</string>
				<key>key</key>
				<string>易懂的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>arcane enigmatic elusive inscrutable unfathomable(fathom 测深) occult esoteric hermetic(隔绝的) impenetrable recondite abstruse uncanny opaque cryptic</string>
				<key>key</key>
				<string>难懂的 神秘的</string>
			</dict>
		</array>
		<key>key</key>
		<string>难懂的 vs 易懂的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>cautious circumspect guarded heedful prudent wary chary minute discreet(discrete 分离 discretionary 自由决定的)</string>
				<key>key</key>
				<string>仔细的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>reckless audacious bold brash brassy daredevil rash madcap temerarious headlong cursory slipshod</string>
				<key>key</key>
				<string>轻率的</string>
			</dict>
		</array>
		<key>key</key>
		<string>仔细的 vs 轻率的</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>unctuous flattery adulatory gushing hagiographic obsequious</string>
				<key>key</key>
				<string>恭维的</string>
			</dict>
			<dict>
				<key>content</key>
				<string>disparage belittle distain denigrate deprecate 反对 depreciate derogate degrade</string>
				<key>key</key>
				<string>贬低的</string>
			</dict>
		</array>
		<key>key</key>
		<string>恭维的 vs 贬低</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>baseness deceit mendacity 谎言</string>
				<key>key</key>
				<string>卑鄙</string>
			</dict>
			<dict>
				<key>content</key>
				<string>righteousness rectitude incorruptibility integrity</string>
				<key>key</key>
				<string>正直</string>
			</dict>
		</array>
		<key>key</key>
		<string>卑鄙 vs 正直</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>credence 信任 incredible discredit 怀疑 credulous 轻信的 accredit 委托 credential 证明 credo=creed 信条</string>
				<key>key</key>
				<string>cred-</string>
			</dict>
			<dict>
				<key>content</key>
				<string>discredit doubt skepticism paranoid(过分怀疑的) dubious suspicious leery</string>
				<key>key</key>
				<string>怀疑的</string>
			</dict>
		</array>
		<key>key</key>
		<string>怀疑的 vs cred-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>offhand 即兴的 handy 灵巧的 ham-handed = heavy-handed 笨拙的 under-handed 秘密的</string>
				<key>key</key>
				<string>-hand</string>
			</dict>
		</array>
		<key>key</key>
		<string>-hand</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>eugenic 优生优育的 progeny 后代 congenial 相似的 progenitor 祖先 engender 导致</string>
				<key>key</key>
				<string>gen-</string>
			</dict>
		</array>
		<key>key</key>
		<string>gen-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>backfire 发生意外 backhanded 间接 的 backset 背景 backlash 反对 backslide 变坏</string>
				<key>key</key>
				<string>back-</string>
			</dict>
		</array>
		<key>key</key>
		<string>back-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>diction 措辞 dictate 听写 valediction 告别辞 malediction 诅咒 benediction 祝福 abdication 放弃</string>
				<key>key</key>
				<string>dict-</string>
			</dict>
		</array>
		<key>key</key>
		<string>dict-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>phony 假的 euphony 悦耳的 cacophony 刺耳的 symphony 交响乐</string>
				<key>key</key>
				<string>phony-</string>
			</dict>
		</array>
		<key>key</key>
		<string>phony-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>gratitude 感恩 ingratitude 忘恩负义 grateful 感谢的 ingratiate 迎合 gratify 满足 gratuity 小费 gratis=gratuitous 免费的 ingrate 忘恩 负义 engrave 雕刻 ingrain 植入</string>
				<key>key</key>
				<string>grat-</string>
			</dict>
		</array>
		<key>key</key>
		<string>grat-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>monotonous 单调的 monopoly 垄断 monarch 君主 monochromatic 单色的 monologue 独自的</string>
				<key>key</key>
				<string>mono-</string>
			</dict>
		</array>
		<key>key</key>
		<string>mono-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>incursion 入侵 discursive 离题 excursion 远足 cursory 草率的 precursor 预示</string>
				<key>key</key>
				<string>-cur-</string>
			</dict>
		</array>
		<key>key</key>
		<string>-cur-</string>
	</dict>
	<dict>
		<key>arr</key>
		<array>
			<dict>
				<key>content</key>
				<string>tepid 乏味的 torpid 乏味的 torrid 酷热的 turbid 浑浊的 turgid 浮夸的 turbulent 混乱的</string>
				<key>key</key>
				<string>组2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>penetrate 刺入 penetrating 尖锐的 perpetrate 犯罪 perpetrator 罪犯 perpetuate 不朽 perpetual 不朽的</string>
				<key>key</key>
				<string>组1</string>
			</dict>
		</array>
		<key>key</key>
		<string>形近词</string>
	</dict>
</array>
</plist>
